Console/TempExecutionAppn1/TempExecutionAppn1/Service References/ServiceReference1/LookupService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LookupService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/LookupService/Lookup.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/LookupService/Lookup.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/LookupService/Lookup.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SSP.eTrading.Services.Reference.Models" />
      <xsd:import schemaLocation="http://localhost/LookupService/Lookup.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/LookupService/Lookup.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SSP.eTrading.Services.Reference.Models.PolicyDetailsLookup" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILookupService_GetLists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLists" />
  </wsdl:message>
  <wsdl:message name="ILookupService_GetLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListsResponse" />
  </wsdl:message>
  <wsdl:message name="ILookupService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="ILookupService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="ILookupService_GetPolicyDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyDetails" />
  </wsdl:message>
  <wsdl:message name="ILookupService_GetPolicyDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILookupService">
    <wsdl:operation name="GetLists">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookupService/GetLists" message="tns:ILookupService_GetLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookupService/GetListsResponse" message="tns:ILookupService_GetLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookupService/GetList" message="tns:ILookupService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookupService/GetListResponse" message="tns:ILookupService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicyDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookupService/GetPolicyDetails" message="tns:ILookupService_GetPolicyDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookupService/GetPolicyDetailsResponse" message="tns:ILookupService_GetPolicyDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILookupService" type="tns:ILookupService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLists">
      <soap:operation soapAction="http://tempuri.org/ILookupService/GetLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/ILookupService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyDetails">
      <soap:operation soapAction="http://tempuri.org/ILookupService/GetPolicyDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LookupService">
    <wsdl:port name="BasicHttpBinding_ILookupService" binding="tns:BasicHttpBinding_ILookupService">
      <soap:address location="http://localhost/LookupService/Lookup.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>