Console/TempExecutionAppn1/ConsoleApplication1/Service References/lookupAbiService/LookupService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LookupService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ILookupService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://iconstestgrp17.ssp-hosting.com/SSP.eTrading.Services/Lookup.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://iconstestgrp17.ssp-hosting.com/SSP.eTrading.Services/Lookup.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://iconstestgrp17.ssp-hosting.com/SSP.eTrading.Services/Lookup.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SSP.eTrading.Services.Reference.Models" />
      <xsd:import schemaLocation="http://iconstestgrp17.ssp-hosting.com/SSP.eTrading.Services/Lookup.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://iconstestgrp17.ssp-hosting.com/SSP.eTrading.Services/Lookup.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SSP.eTrading.Services.Reference.Models.PolicySummaryLookup" />
      <xsd:import schemaLocation="http://iconstestgrp17.ssp-hosting.com/SSP.eTrading.Services/Lookup.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SSP.eTrading.Services.Reference.Models.PolicyBookletLookup" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILookupService_GetLists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLists" />
  </wsdl:message>
  <wsdl:message name="ILookupService_GetLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListsResponse" />
  </wsdl:message>
  <wsdl:message name="ILookupService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="ILookupService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="ILookupService_GetPolicySummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicySummary" />
  </wsdl:message>
  <wsdl:message name="ILookupService_GetPolicySummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicySummaryResponse" />
  </wsdl:message>
  <wsdl:message name="ILookupService_GetPolicyBooklet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyBooklet" />
  </wsdl:message>
  <wsdl:message name="ILookupService_GetPolicyBooklet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolicyBookletResponse" />
  </wsdl:message>
  <wsdl:portType name="ILookupService">
    <wsdl:operation name="GetLists">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookupService/GetLists" message="tns:ILookupService_GetLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookupService/GetListsResponse" message="tns:ILookupService_GetLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookupService/GetList" message="tns:ILookupService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookupService/GetListResponse" message="tns:ILookupService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicySummary">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookupService/GetPolicySummary" message="tns:ILookupService_GetPolicySummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookupService/GetPolicySummaryResponse" message="tns:ILookupService_GetPolicySummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicyBooklet">
      <wsdl:input wsaw:Action="http://tempuri.org/ILookupService/GetPolicyBooklet" message="tns:ILookupService_GetPolicyBooklet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILookupService/GetPolicyBookletResponse" message="tns:ILookupService_GetPolicyBooklet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILookupService" type="tns:ILookupService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLists">
      <soap:operation soapAction="http://tempuri.org/ILookupService/GetLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/ILookupService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicySummary">
      <soap:operation soapAction="http://tempuri.org/ILookupService/GetPolicySummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyBooklet">
      <soap:operation soapAction="http://tempuri.org/ILookupService/GetPolicyBooklet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ILookupService" type="tns:ILookupService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ILookupService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLists">
      <soap:operation soapAction="http://tempuri.org/ILookupService/GetLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/ILookupService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicySummary">
      <soap:operation soapAction="http://tempuri.org/ILookupService/GetPolicySummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyBooklet">
      <soap:operation soapAction="http://tempuri.org/ILookupService/GetPolicyBooklet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LookupService">
    <wsdl:port name="BasicHttpBinding_ILookupService" binding="tns:BasicHttpBinding_ILookupService">
      <soap:address location="http://iconstestgrp17.ssp-hosting.com/SSP.eTrading.Services/Lookup.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ILookupService" binding="tns:BasicHttpsBinding_ILookupService">
      <soap:address location="https://awebaggcg17u01.webapp.local/SSP.eTrading.Services/Lookup.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>