Console/TempExecutionAppn1/ConsoleApplication1/Service References/ServiceReference1/Lookup4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SSP.eTrading.Services.Reference.Models.PolicyDetailsLookup" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SSP.eTrading.Services.Reference.Models.PolicyDetailsLookup" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PolicyDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PolicyDetailsLayout">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PolicyDetails" nillable="true" type="tns:PolicyDetails" />
  <xs:complexType name="PolicyDetailsLayout">
    <xs:sequence>
      <xs:element minOccurs="0" name="Broker" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsurerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineOfBusiness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Panel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyBookletUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicySummaryUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchemeMnemonic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchemeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyDetailsLayout" nillable="true" type="tns:PolicyDetailsLayout" />
</xs:schema>