Console/TempExecutionAppn1/ConsoleApplication1/Service References/ServiceReference1/Lookup3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/LookupService/Lookup.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SSP.eTrading.Services.Reference.Models" />
  <xs:import schemaLocation="http://localhost/LookupService/Lookup.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/LookupService/Lookup.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SSP.eTrading.Services.Reference.Models.PolicyDetailsLookup" />
  <xs:element name="GetLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SSP.eTrading.Services.Reference.Models" minOccurs="1" name="lineOfBusiness" type="q1:LineOfBusiness" />
        <xs:element minOccurs="1" name="apikey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetListsResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SSP.eTrading.Services.Reference.Models" minOccurs="1" name="lineOfBusiness" type="q3:LineOfBusiness" />
        <xs:element minOccurs="1" name="apikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="locale" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentAbiCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="allData" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SSP.eTrading.Services.Reference.Models" minOccurs="0" name="GetListResult" nillable="true" type="q4:ArrayOfLookupValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="schemeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" name="coverDate" type="xs:dateTime" />
        <xs:element minOccurs="1" name="lineOfBusinessAsInt" type="xs:int" />
        <xs:element minOccurs="1" name="apikey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SSP.eTrading.Services.Reference.Models.PolicyDetailsLookup" minOccurs="0" name="GetPolicyDetailsResult" nillable="true" type="q5:PolicyDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>